.vuep{
    flex-direction: column;
    height: initial;
}

.vuep-editor, .vuep-preview, .vuep-error{
    width: 100%;
    height: initial;
}

.markdown-section{
    max-width: 929px;
}

.vuep-preview, .vuep-error{
    padding: 8px;
}

label{
    user-select: none;
}

@keyframes panoramic{
    to {
        background-position: 200% 0;
    }
}

.orderoptions[align="center"]{
    border: 1px solid #eee;
    margin-bottom: 20px;
}
