.vuep{
    flex-direction: column;
    height: initial;
}

.vuep-editor, .vuep-preview, .vuep-error{
    width: 100%;
    height: initial;
}

.markdown-section{
    max-width: 929px;
}

.vuep-preview, .vuep-error{
    padding: 8px;
}

label{
    user-select: none;
}

@keyframes panoramic{
    to {
        background-position: 200% 0;
    }
}

.orderoptions[align="center"]{
    border: 1px solid #eee;
    margin-bottom: 20px;
}

@keyframes pie-chart-spin1 {
    to { transform: rotate(.5turn); }
}
@keyframes pie-chart-bg1 {
    to { background: #b4a078; }
}
@keyframes pie-chart-spin2 {
    to { transform: rotate(.5turn); }
}
@keyframes pie-chart-bg2 {
    50% { background: #b4a078; }
}
@keyframes pie-chart-fillup{
    to { stroke-dasharray: 100 100; }
}
@keyframes pie-chart-per1{
    to { stroke-dasharray: 37 100; }
}
@keyframes pie-chart-per2{
    to { stroke-dasharray: 32 100; }
}
@keyframes pie-chart-per3{
    to { stroke-dasharray: 32 100; }
}
@keyframes text-blink-effect {
    50% {
        text-shadow: 0 0 .1em, 0 0 .3em;
    }
    to {
        text-shadow: 0 0 .1em;
    }
}
@keyframes circular-text-rotate {
    to {
        transform: rotate(1turn);
    }
}